@import 'variables', 'animations', 'globals';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.play_box {
    display: flex;
    min-height: 100vh;
}

a.play_btn {
    margin: auto auto;
    border: 1px solid $primary-color;
    padding: 15px 60px;
    border-radius: 120px;
    cursor: pointer;
    transition: .5s;
}

a.play_btn:hover {
    background: $primary-color;
    color: $bg-color;
}

a.play_btn_start {
    margin: auto auto;
    border: 1px solid $primary-color;
    padding: 15px 60px;
    border-radius: 120px;
    cursor: pointer;
    transition: .5s;
}

a.play_btn_start:hover {
    background: $primary-color;
    color: $bg-color;
}

main.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.d_top_selector {
    padding: 10px 20px;
    max-width: 600px;
    margin: 0px auto;
    flex-grow: 1;
}

.d_bottom_selector {
    padding: 10px 20px;
    max-width: 600px;
    margin: 0px auto;
    flex-grow: 1;
}

.d_center_selector {
    padding: 10px 20px;
    max-width: 600px;
    margin: 0px auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 25px;
}