.lr {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

div#About {
    min-height: 100vh;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}

.section__title {
    font-size: 20px;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0px;
    margin: 20px 0px;
}

.right {
    min-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: auto;
}

.left p {
    max-width: 880px;
    width: 100%;
    font-size: 30px;
    line-height: 1.3;
}

.right img.img {
    max-width: 450px;
    animation: 3s scale_in_out infinite ease-in-out;
    margin-left: 25%;
    margin-top: 10vh;
}

@keyframes slide{
    from{
        margin-top: 0px;
    }
    50%{
        margin-top:12px;
    }
    to{
        margin-top: 0px;
    }
}

@keyframes scale_in_out{
    from{
        transform:scale(1) rotate(0deg);
    }
    50%{
        transform:scale(1.1) rotate(10deg);
    }
    to{
        transform:scale(1) rotate(00deg);
    }
}

#About p {
    animation: 3s slide infinite ease-in-out;
}


.scroll-tw > * > img {
    width: 20px;
}

.left_scroll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_scroll {
    display: flex;
}

.center {
    display: flex;
    flex-grow: 1;
}

.section {
    min-height: 100vh;
}