@media screen and (max-width: 1600px) and (min-width: 601px){
    .section__order {
        flex-direction:row;
    }

    .oleft{
        margin: 0px 0px;
        max-width: 100%;
        align-items: start;
    }

    .oleft_book-preview{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .oleft_top{
        width: 100%;
    }

    .oright_book-preview img{
        max-width: 100%;
    }

    .oleft__title_2{
        font-size: 25px;
    }

    .lr{
        flex-direction: column-reverse;
    }

    .lr .left{
        margin-top: 50px;
    }

    .lr .left p{
        padding-right: 0px;
        margin-tight: 0px;
        width: 100%;
        max-width: 100%;
    }

    .right{
        flex-direction: row;
        justify-content: center;
    }

    .right img{
        margin: 0px 0px !important;
        animation: none !important;
    }

    .section-main-videoplayback{
        padding: 4px;
    }

    .section-main-videoplayback > *{
        max-width: 100%;
        height: auto;
    }

    .section__metaforcards{
        flex-direction:column;
    }
    
    .mright {
        margin: 0px !important;
        padding: 0px !important;
    }

    .section-main p{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .section__order {
        flex-direction:column;
    }

    .section__title {
        font-size: 2.5em !important;
    }

    #About p{
        animation: none !important;
    }

    .section-main {
        padding: 0px !important;
    }

    .section-main-two-buttons > a {
        margin: 0px !important;
        width: auto !important;
    }
    
    a.btn-inline {
        margin-right: 10px !important;
    }

    .oleft{
        margin: 0px 0px;
        max-width: 100%;
        align-items: start;
    }

    .oleft_book-preview{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .oleft_top{
        width: 100%;
    }

    .oright_book-preview img{
        max-width: 100%;
    }

    .oleft__title_2{
        font-size: 25px;
    }

    .lr{
        flex-direction: column-reverse;
    }

    .lr .left{
        margin-top: 50px;
    }

    .lr .left p{
        padding-right: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: 100%;
        font-size: 25px;
        animation: none !important;
    }

    .right{
        flex-direction: row;
        justify-content: center;
    }

    .right img{
        margin: 0px 0px !important;
        animation: none !important;
    }

    .section-main h1{
        text-align: center;
    }

    .section-main-videoplayback{
        padding: 4px;
    }

    .section-main-videoplayback > *{
        max-width: 100%;
        height: auto;
    }

    .section__metaforcards{
        flex-direction:column;
    }

    .mright {
        margin: 0px !important;
        padding: 0px !important;
    }

    .section-main p{
        text-align: center;
    }

    .scroll-box-title {
        font-size: 30px !important;
    }
    
    .scroll-box-description {
        font-size: 20px !important;
    }
    
    .mleft p {
        font-size: 20px !important;
    }
    
    .mleft ul {
        font-size: 20px !important;
    }
    
    .oleft__title_2 {
        font-size: 25px !important;
    }
    
    .oleft_bottom {
        margin-bottom: 30px !important;
    }

    .section_annotations{
        margin: 0px 0px !important;
    }
}