@import 'variables', 'global', 'dimensions', 'about', 'popup', 'annotations', 'metaforcards', 'buy', 'otzivi';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media screen and (max-width: 600px) {
    .section{
        padding:0px 10px !important;
    }

    .btn-outline{
        align-items: center;
    }
}

nav.menu {
    display: flex;
    font-size: 20px;
    padding: 20px 30px;
    position: sticky;
    top: 0px;
    background: #000;
    z-index: 10000;
}

a.menu-item {
    color: #868686;
    margin-right: 30px;
}

a.menu-item.active {
    color: #fff;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

.section-main {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-main-two-buttons {
    max-width: 100%;
    margin: 15px 0px;
    display: flex;
}

.section-main-videoplayback {
    border: 1px solid #dededede;
    margin: 10px 20px;
}

p {
    color: #C3C3C3;
    font-size: 25px;
    margin-top: 5px;
}

a.btn-inline {
    background: #fff;
    color: #000;
    padding: 15px 30px;
    display: flex;
    width: 230px;
    justify-content: center;
    margin: 0px 25px;
}

a.btn-inline rimg img {
    width: 20px;
    height: auto;
}

a.btn-inline rimg {
    margin-left: 15px;
}

a.btn-outline {
    padding: 15px 30px;
    border: 1px solid #dededede;
    width: 230px;
    display: flex;
    justify-content: center;
    margin: 0px 30px;
}

.section-main-down-scroll {
    margin-top: 90px;
}

a.jlink {
    text-decoration: underline;
    color: #fff;
}

a.btn-outline:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

a.btn-inline:hover {
    color: #fff;
    background: #0000;
    border: 1px solid #fff;
    cursor: pointer;
}